@font-face {
    font-family: Gabriela;
    src: url(fonts/Gabriela/Gabriela-Regular.ttf);
}
@font-face {
    font-family: 'Open Sans';
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Source Code Pro';
    src: url(fonts/Source_Code_Pro/SourceCodePro-Regular.ttf);
}

html,body {
width:100%; height:100%;
}
body {
background:#00496b url(bg.jpg) no-repeat 0 0 fixed; background-size:cover; font:400 16px 'Gabriela',arial,sans-serif; color:rgb(85,85,85); float:left;
overflow:hidden;
}

#overlay {
width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0,0.5); display:none;
}
#main-panel {
position:relative; background:rgba(0,0,0,0.3); border-top:0; min-height:60%;
}
	#main-panel .fx-shadow-overlay {
	width:100%; height:100%; position:absolute; top:0; left:0; min-height:100px; box-shadow:inset 1px 10px 100px rgba(0,0,0,0.7);
	}
	#wrapper {
	width:600px; position:relative; margin:0 auto;
	}
		#brand {
		width:100%; margin:20% 0 0 0; color:rgb(246,255,245); opacity:0.89; text-align:center; text-shadow:0 1px 0 rgba(0,0,0,0.8);
		}
			#brand .logo {
			float:left; width:100%; font-size:3.5em; color:rgba(0,27,47,0.01); text-shadow:0 1px 0 rgba(177,222,255,0.3),0 -1px 0 rgba(0,12,22,0.6);
			}
			#brand .tagline {
			margin:1px 0 0 0; font-size:1.5em; color:rgba(0,27,47,0.1); text-shadow:0 1px 0 rgba(177,222,255,0.3),0 -1px 0 #001b2f;
			}
				#brand .tagline span {
				font-size:0.5em;
				}
		#wrapper .panel-content {
		/*border-radius:7px; background:rgba(255,255,255,0.15); border:1px solid rgba(0,0,0,0.4); box-shadow:0 1px 0 rgba(255,255,255,0.08); position:relative; width:250px;
		margin-top:20%;*/
		}
			#wrapper .panel-content .panel-content-button {
			color:rgba(255,255,255,0.8); font:400 1.2em 'Gabriela',monospace; width:210px; height:100%; background:; min-height:10px; border-radius:inherit;
			border-top:1px solid rgba(255,255,255,0.08); text-shadow:0 -1px 0 rgba(0,0,0,0.9); text-align:center; padding:20px; cursor:default;
			}
				#wrapper .panel-content .panel-content-button:active {
				border-top-color:rgba(0,0,0,0.2); border-left:1px solid rgba(0,0,0,0.2); opacity:0.6;
				}
#footer {
background:rgba(0,0,0,0.35); border-top:1px solid rgba(255,255,255,0.08); border-bottom:0; font-size:0.8em; text-align:center; padding-bottom:0;
font-family:'Open Sans',sans-serif; color:rgba(0,27,47,0.1); text-shadow:0 1px 0 rgba(177,222,255,0.3),0 -1px 0 #001b2f; min-height:25%;
}
	#footer p {
	/*margin-bottom:10px;*/
	}

.panel {
width:100%; float:left; min-height:100px; background:rgba(0,0,0,0.4); border-bottom:1px solid rgba(0,0,0,0.3); border-top:1px solid rgba(255,255,255,0.07);
}
	.panel-content {
	width:500px; background:; margin:4% auto; clear:both; position:relative;
	}
		.panel-content .editor {
		width:100%; background:rgba(0,0,0,0.29); border:1px solid rgba(0,0,0,0.8); border-radius:7px; box-shadow:0 1px 0 rgba(255,255,255,0.1);
		margin-top:10%;
		}
			.panel-content .editor .editor-wrapper {
			width:96%; padding:10px; background:; border-radius:inherit; border-top:1px solid rgba(0,0,0,0.6); box-shadow:inset 0 2px 8px rgba(0,0,0,0.55);
			}
				.panel-content .editor .editor-wrapper .editor-content {
				width:100%; min-height:100px; border-radius:inherit; color:rgba(255,255,255,0.66); font:400 0.9em 'Open Sans',monospace; line-height:1.7em; position:relative;
				}
					.panel-content .editor .editor-wrapper .editor-content #sid {
					font-size:1.7em; text-align:center; left:50%; top:50%; margin:-40px 0 0 -200px; position:absolute; width:400px; color:rgba(255,255,255,0.5); padding-top:25px;
					}
						.panel-content .editor .editor-wrapper .editor-content #sid-input {
						font-size:1.7em; text-align:center; left:50%; top:50%; margin:-40px 0 0 -200px; position:absolute; width:400px; color:rgba(255,255,255,0.5); padding-top:25px;
						border:0; background:transparent;
						}
		.panel-content #out {
		font-size:1.2em; text-align:center; width:100%; color:rgba(0,0,0,0.85); margin-top:-1%;
		text-shadow:0 1px 0 rgba(177,222,255,0.1),0 -1px 0 #000c16;
		}
		.panel-content-section {
		width:100%; margin-bottom:60px; padding:10px;
		}
			.panel-content-section p {
			text-align:justify; font:300 1em 'Open Sans',arial,sans-serif; color:rgb(92,97,95); width:100%;
			}
			.panel-content-section p.title {
			text-align:center; font-size:1.05em; font-weight:600; text-transform:uppercase; color:rgb(55,58,57); margin:0 0 20px 0;
			}